body{
  background-color:CFFDE1;
  background-image: url(mount.png);
  background-size:800px;
  background-repeat: no-repeat;
  background-position: center;
}
.back{
  font-family:Lucida Calligraphy;
  position: fixed;
  color:green;
  margin-left: 500px;
  margin-top: 170px;
  float: right;
}
span{
  display: block;
}
.cloud{
  margin-left:100px;
  margin-top:220px;
  float: left;
}
.img2{
  margin-right:40px;
  margin-top:140px;
  clear: right;
  float:right;
}
.nav{
  float:right;
  color:green;
}
li{
  float:left;
  padding:4px;
}
.hello{
  float: left;
}
